#fond{
	width:100%;
}

h2{
	padding-top:4%;
	padding-left:6%;
	font-size:4em;
	font-weight:900;
}

.fondExo{
	background-color:#EAEAEA;
	padding:1% 2% 2% 2%;
}

#spectacle{
	display:none;
}
.btnExo{
	padding-top:1%;
	font-size:1.5em;
	height:50px;
	margin-bottom:2%;
}
#btnAccueil{
	height:50px;
	font-size:1.5em;
	margin-bottom:10%;
	margin-top:10%;
	padding-top:5%;
}