body {
  background-color: #D7D7D7;
  color: #222222;
  font-family: 'Heebo', sans-serif;
  margin: 0;
  padding: 0; }

.container-fluid {
  padding: 0; }

/*////////////////////////////Accueil//////////////////////////*/
header {
  margin-top: -4%;
  margin-bottom: 5%;
  background-image: url("../../img/fond.jpg");
  background-size: cover;
  height: 200px; }

h1, h2 {
  padding-top: 6%;
  padding-left: 6%;
  font-size: 4em;
  font-weight: 900; }

/*///////////////////////////////Exercice 1/////////////////////*/
h2 {
  padding-top: 4%; }

.btn-primary {
  padding-top: 4%;
  height: 100px;
  border-radius: 0;
  border: none;
  background-color: #189bbf;
  font-size: 2.5em; }
  .btn-primary:hover {
    background-color: #1aa3c9; }

.fondExo {
  background-color: #EAEAEA;
  padding: 1% 2% 2% 2%; }

#spectacle, #client {
  display: none; }

.btnExo {
  margin-bottom: 2%;
  padding-top: 1%;
  font-size: 1.5em;
  height: 50px; }

#btnAccueil {
  height: 50px;
  font-size: 1.5em;
  margin-bottom: 10%;
  margin-top: 10%;
  padding-top: 5%; }

/*/////////////////////////////Exercices avec formulaire////////////////////////*/
form {
  display: flex;
  flex-direction: column; }

label {
  margin-right: auto;
  margin-left: auto; }

input {
  margin-right: auto;
  margin-left: auto;
  background-color: #F9F8FD;
  width: 30%; }

select {
  margin-right: auto;
  margin-left: auto;
  width: 30%; }

button {
  margin-right: auto;
  margin-left: auto;
  width: 30%; }

input[type="radio"] {
  display: none; }

#affichageCarte {
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #3399FF; }

#type {
  display: none; }

input[type="radio"]:checked ~ #type {
  display: inline; }

li.danger {
  color: red; }
li.success {
  color: green; }
